<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Sample App Home </title>
  </head>
  <body>
    <h1>About</h1>
    <p>Get the information about the Ruby on Rails Tutorial at the <a href="http/www.railstutorial.org/#help">Ruby on Rails help Tutorial</a> Sample application</p>
  </body>
</html>
